body {
    background-image: linear-gradient(beige, rgb(202, 202, 195));

    font-family:cursive;
    font-size: 13px;
 }

 .header{
    width: 100%;
    color: brown; margin: 2px 2px 2px 2px;
        display: inline;
        list-style-type: none;
}




.footer{
    grid-area: footer;
    margin-top: 4px;
    color: darkgreen; 
    align-content: left;
    justify-content: left;
    text-align: center;
}

